div{display: block;}
body{
	color:#333;
	font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif; 
	font-weight: 400; 
	margin-top: 0;
}
html{
	letter-spacing: -.025em;
}
	/*.Main_nav_logo{float:left;}
	.Main_nav_link{text-decoration: none;}*/
*{box-sizing: border-box;}
button{
	text-rendering: auto; 
	letter-spacing: normal; 
	word-spacing: normal; 
	text-indent: 0px; 
	text-shadow: none; }
hr{background-color:#F2F2F2 }

.page{
	text-align: center;
    will-change: background-position;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    animation: 10s ease 0s infinite normal none running undefined;
    background: rgb(246, 246, 246);
}

#menu{text-transform: uppercase!important;
display: block;}
.menubar{
	float: right;
	cursor: pointer; 
	display: block; 
	font-size: 14px; 
	line-height: 54px; 
	height: 54px; 
	list-style-type: none; margin: 0;
}
.menubar li ul{
	float: left; 
	font-weight: 700; 
	padding: 0 16px; 
	display: block;
}
.menubar li ul:hover{background: #F2F2F2;}

#menu img{margin: 12px 0px 12px 0px;}

.round{
	padding: 0 20px;
	cursor: pointer;
    display: block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 54px;
    height: 54px;
    box-sizing: border-box;
}
.icon{
	background: #d8d8d8;
    background-size: cover;
    border-radius: 100%;
    position: relative!important;
    float: left!important;
    top: 8px;
    margin-bottom: 8px;
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 54px;
}
a{
	color: #333;
	font-weight: 400;
}
div{
	display: block;
}
.vidstart{
	padding-top: .23257rem!important; 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 100rem;
}
#vid1_react-container{padding-left: 0; }
#newest{
	letter-spacing: -.05em; 
	margin-bottom: .48225rem; 
	margin-top: .69444rem; 
	text-align: left; 
	font-weight: 700; 
	font-size: 1.728rem; 
	color: black; 
}
.imgg img {
	padding: 1.44rem 1.44rem 1.44rem 2.0736rem;
	position: center;
}
